body {
    background-color: hsl(240 10% 3.9%);
    color: white;
    font-family: 'Roboto', sans-serif;
}

label {
    display: flex;
    align-items: center;
}

#components {
    display: flex;
    flex-wrap: wrap;
}

.section {
    margin: .5rem;
    padding: .5rem;
    border-radius: .3rem;
    border: 1px solid white;
}

/* Hide the checkbox */
#toggle-checkbox {
    display: none;
}

/* Default styles for the content */
#content {
    height: 0;
    overflow: hidden;
    transition: height 0.3s ease;
}

/* Styles when the checkbox is checked */
#toggle-checkbox:checked+label+#content {
    height: 100px;
    /* Adjust height as needed */
}

#other_components {
    display: grid;
    height: fit-content;
    width: 100vw;
}

#others {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}