/**
* ? Variables
*/
:root {
    --primary-color: rgb(15, 15, 15);
    --small-font: 16pt;
    --medium-font: 22pt;
    --large-font: 20pt;
    --basic-pad: 1rem;
    --small-pad: .5rem;
    --primary-font-color: rgb(241, 241, 241);
    --default-link-color: rgb(107, 159, 255);
}

/**
* ? Resetting and styling some elements
*/
* {
    margin: 0;
    padding: 0;
    z-index: 1;
}

body {
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    font-family: "Quicksand", sans-serif;
    letter-spacing: .6px;
    font-weight: normal;
    scroll-behavior: smooth;
}

a {
    transition: .2s ease;
    text-decoration: none;
    color: var(--default-link-color);
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 2rem;
    margin: 2rem 0 0 0;
    background-color: rgb(22, 22, 22);
    flex-wrap: wrap;
}

svg {
    z-index: -1;
    height: 100%;
}

#logo {
    width: 160px;
}

.quick_link:hover {
    opacity: 1;
}

#background {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
    transform: translateZ(-20px) scale(3);
}

#header {
    z-index: 1;
    transform: translateZ(-10px) scale(1);
}

.first,
.second,
.third {
    transition: 15s linear;
}

#layer_1 {
    perspective: 1;
}

#layer_2 {
    perspective: 2;
}

#layer_3 {
    perspective: 3;
}

.fas {
    font-size: 9pt;
}

.quick_link {
    color: var(--primary-font-color);
}

/**
* ? Elements
*/
#page_wrapper {
    position: relative;
    height: 100dvh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#navigation {
    height: 10dvh;
    width: 100dvw;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: var(--small-pad);
    transition: .2s ease;
    font-size: var(--medium-font);
    z-index: 5;
}

.nav {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.not_top {
    background-color: rgba(0, 0, 0, 0.295);
    backdrop-filter: blur(18px);
    transition: .2s ease;
    border-bottom: 1px solid rgb(32 32 32);
}

#open_menu {
    display: none;
}

#navigation ul {
    margin: 0 .3rem;
}

#navigation ul li a {
    color: var(--primary-font-color);
}

#wrapper {
    margin-top: 10dvh;
}

.section {
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header {
    height: 90dvh;
    flex-direction: column;
}

#header h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

#header p {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

#buttons {
    display: flex;
    justify-content: space-between;
}

#features {
    display: flex;
    flex-wrap: wrap;
}

.feature {
    width: 25dvw;
    margin: 1rem;
    text-wrap: wrap;
    padding: 2rem;
    border-radius: .6rem;
    background-color: transparent;
    transition: .2s ease;
}

.icon {
    font-size: 3rem;
}

.title {
    font-size: 1.5rem;
}

.description {
    font-size: 1rem;
    display: flex;
    line-height: 1.7rem;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    line-height: 1.8rem;
}

.title_des_holder {
    margin: 1.8rem;
}

.learn_more {
    margin: 1rem;
    text-align: right;
}

#live,
#cdn {
    height: 100%;
    align-content: center;
    display: grid;
}

#buttons_iframe_holder,
#cdn_inp_but {
    display: flex;
    justify-content: center;
    align-items: center;
}

#quick_link_button {
    backdrop-filter: blur(24px);
}

#quick_link_button:hover {
    opacity: 1;
}

#variant_selector {
    padding: 1rem 2rem;
    margin: 1rem;
    border-radius: .6rem;
    background-color: transparent;
    color: var(--primary-font-color);
    border: 1px solid rgb(32, 32, 32);
    outline: 3px solid transparent;
    outline-offset: 2px;
    font-size: .875rem;
}

#variant_selector:focus {
    outline: 3px solid white;
}

option {
    color: black;
}

#cdn button {
    width: fit-content;
}

/**
* ? Element FX
*/
#page_wrapper::-webkit-scrollbar {
    display: none;
}

.feature:hover {
    box-shadow: black 0 0 5px;
    transition: .2s ease;
    background-color: rgb(36, 36, 36);
}

.icon {
    position: absolute;
    opacity: .1;
    font-size: 5rem;
}

.learn_more:hover {
    text-decoration: underline;
}

#tooltip_wrapper {
    position: relative;
    height: auto;
}

.footer_links,
.footer_links ul {
    display: grid;
}

.footer_links {
    padding: .3rem .5rem;
}

.footer_links ul li {
    padding: .3rem;
}

.footer_links h3 {
    padding: .5rem .3rem;
    color: rgb(99, 99, 99);
}

.footer_links a {
    color: rgb(199, 199, 199);
}

.footer_links a:hover {
    color: white;
}

/**
* ? Responsive
*/

@media screen and (max-width: 680px) {
    #logo {
        display: none;
    }

    #header p {
        padding: 0 1rem;
    }

    #open_menu {
        z-index: 10;
    }

    #navigation {
        align-items: flex-start;
        margin-top: 0;
        z-index: 6;
    }

    #navigation ul {
        display: grid;
        height: 95dvh;
        border-top-left-radius: 45px;
        border-bottom-left-radius: 45px;
        width: 70dvw;
        margin-right: -70dvw;
        background-color: rgb(22, 22, 22);
        justify-content: center;
        align-content: center;
        z-index: -1;
    }

    #open_menu {
        display: block;
        font-size: 1rem;
    }

    #header {
        height: 90dvh;
    }

    #header h1 {
        font-size: 1.5rem;
    }

    #header p {
        font-size: 1rem;
        text-align: center;
    }

    .section {
        flex-direction: row;
    }

    .feature {
        width: 90%;
    }


    #live,
    #cdn {
        display: block;
        padding: 1rem;
        width: 90dvw;
        margin: .2rem .5rem;
    }

    #button_fields,
    #buttons_iframe_holder,
    #cdn_inp_but {
        width: calc(100dvw - 3rem);
        display: grid;
        justify-items: center;
    }

    #cdn {
        height: auto;
    }

    #cdn button {
        width: 80dvw;
        text-wrap: wrap;
        overflow: hidden;
        overflow-wrap: break-word;
    }
}