*[vanb="true"] {
    transition: .2s ease;
    font-weight: normal;
    display: block;
    height: fit-content;
    width: fit-content;
}

*[vanb="true"]::before,
*[vanb="true"]::after {
    transition: .2s ease;
}


button[vanb="true"][variant="primary"],
button[vanb="true"][variant="success"],
button[vanb="true"][variant="error"],
button[vanb="true"][variant="black"],
button[vanb="true"][variant="white"] {
    min-width: 10dvw;
    width: auto;
    background-color: #7A77FF;
    border: none;
    border-radius: .3rem;
    display: block;

    color: white;
    padding: .7rem;
    margin: .5rem;
    font-weight: 300;
}

button[vanb="true"][variant="black"] {
    background-color: #050505;
    color: white;
}

button[vanb="true"][variant="white"] {
    background-color: #fafafa;
    color: black;
}

button[vanb="true"][variant="success"] {
    background-color: #34B132;
}

button[vanb="true"][variant="error"] {
    background-color: #CE3838;
}

input[vanb="true"][type="checkbox"][variant="on-off"] {
    height: 0px;
    width: 0px;
    display: block;
    font: var(--fa-font-solid);
}

input[vanb="true"][type="checkbox"][variant="on-off"]::before {
    content: "";
    height: 35px;
    width: 60px;
    background-color: #CE3838;
    border-radius: 45px;
    position: absolute;
    transition: .2s ease;
}

input[vanb="true"][type="checkbox"][variant="on-off"]::after {
    content: "";
    height: 25px;
    width: 25px;
    background-color: #e0e0e0;
    border-radius: 50%;
    position: absolute;
    margin: 5px 5px;
    transition: .2s ease;
    box-shadow: rgb(0, 0, 0) 0px 0px 3px;
}

input[vanb="true"][type="checkbox"][variant="checkbox"] {
    display: block;
    height: 0;
    width: 0;
}

input[vanb="true"][type="checkbox"][variant="checkbox"]::before {
    content: "";
    background-color: white;
    display: block;
    height: 25px;
    width: 25px;
    padding: .2rem;
    position: absolute;
    border-radius: .3rem;
    font: var(--fa-font-solid);
}

input[vanb="true"][type="checkbox"][variant="checkbox"]:checked::before {
    content: "\f00c";
    height: 25px;
    width: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .2rem;
}

input[vanb="true"][type="checkbox"][variant="checkbox"]:hover::before {
    background-color: rgb(243, 242, 242);
    color: rgb(19, 19, 19);
}

div[vanb="true"][type="text"][variant="input"][contenteditable="true"] {
    min-width: 15dvw;
    padding: .7rem;
    margin: .5rem;
    display: block;
    font-size: 14pt;
    color: white;
    outline: 3px solid #695CFF77;
    background-color: #1d1d1d;
    border: none;
    border-radius: .3rem;
}

div[vanb="true"][type="text"][variant="input"][contenteditable="true"]::before {
    content: attr(placeholder);
    position: absolute;
    transition: .2s ease-in-out;
    color: white;
    transform: translateY(-22px);
    background: linear-gradient(transparent 50%, #1d1d1d 50% 100%);
    margin: 0;
    font-size: 10pt;
    padding: 0 0.2rem;
    opacity: 1;
}

div[vanb="true"][type="text"][variant="input"][contenteditable="true"]:empty::before {
    transform: translateY(0px);
    background: none;
    font-size: 16pt;
    padding: .25rem 0 0 0;
    margin-top: -.3rem;
    opacity: .3;
}

div[vanb="true"][type="text"][variant="input"][contenteditable="true"]:focus::before {
    content: attr(placeholder);
    position: absolute;
    transition: .2s ease-in-out;
    color: white;
    transform: translateY(-22px);
    background: linear-gradient(transparent 50%, #1d1d1d 50% 100%);
    margin: 0;
    font-size: 10pt;
    padding: 0 0.2rem;
    opacity: 1;
}

div[vanb="true"][security="true"] {
    -webkit-text-security: disc;
}

div[vanb="true"][security="true"]::before {
    -webkit-text-security: none;
}

div[vanb="true"][type="text"][variant="input"][contenteditable="true"]:focus {
    outline: 3px solid rgb(110, 94, 255);
}

input[vanb="true"][type="checkbox"][variant="on-off"]:checked::before {
    transition: .2s ease;
    background-color: #34B132;
}

input[vanb="true"][type="checkbox"][variant="on-off"]:checked::after {
    content: "";
    transition: .2s ease;
    margin-left: 30px;
}

img[vanb="true"][type="avatar_small"] {
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

accordion {
    margin: .5rem;
    padding: .5rem;
    display: block;
}

accordion,
acdescription {
    transition: .2s ease;
}

input[vanb="true"][variant="accordion"][type="checkbox"] {
    display: block;
    height: 0;
    width: 0;
}

input[vanb="true"][variant="accordion"][type="checkbox"]+label::after {
    font: var(--fa-font-solid);
    content: "\f107";
    transition: .2s ease;
}

accordion label {
    width: 40vw;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: .5rem;
    transition: .2s ease;
    border-radius: .3rem;
}

accordion label:hover {
    transition: .2s ease;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.192);
}

acdescription {
    width: 40dvw;
    max-height: 0;
    text-decoration: none;
    display: block;
    overflow: hidden;
    transition: .2s ease;
    border-bottom: 1px solid rgb(104, 104, 104);
    margin: .5rem;
}

input[vanb="true"][variant="accordion"][type="checkbox"]:checked+label+acdescription {
    transition: .2s ease;
    max-height: 50dvh;
    padding-bottom: 1rem;
}

input[vanb="true"][variant="accordion"][type="checkbox"]:checked+label::after {
    transition: .2s ease;
    transform: rotate(-180deg);
}

alert {
    display: grid;
    padding: 1rem;
    background-color: transparent;
    border: 1px solid rgb(102, 102, 102);
    margin: .5rem;
    border-radius: .5rem;
    max-width: 40vw;
    height: fit-content;
}

alert[type="error"] {
    border: 1px solid rgb(127, 29, 29);
    color: rgb(127, 29, 29);
}

atitle::before {
    margin: .3rem 1rem .3rem .3rem;
    font-size: 12pt;
    line-height: 1.25rem;
}

alert[variant="terminal"][type="error"] atitle::before {
    content: "\f06a";
    font: var(--fa-font-solid);

}

alert[variant="general"][type="error"] atitle::before {
    content: "\f071";
    font: var(--fa-font-solid);

}

alert[variant="general"][type="info"] atitle::before {
    content: "\f135";
    font: var(--fa-font-solid);
}

alert[variant="terminal"][type="info"] atitle::before {
    content: "\f120";
    font: var(--fa-font-solid);
    margin: .3rem 1rem .3rem .3rem;
    font-size: 12pt;
    line-height: 1.25rem;
}

badge {
    transition: .2s ease;
    max-width: 10vw;
    width: fit-content;
    height: fit-content;
    border-radius: 45px;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: .125rem .625rem;
    margin: .3rem;
    display: block;
    font-size: 12pt;
    font-weight: bold;
}

badge:hover {
    cursor: default;
    opacity: .7;
}

/* TODO: styling Alerts */
/* alert[variant="dialog"] adialog{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
} */

atitle {
    margin-bottom: .25rem;
    font-weight: bold;
}

alertdes {
    margin-left: calc(1.4rem + 12pt);
}

/**
* ? FX
*/

button[vanb="true"]:hover {
    opacity: .8;
    box-shadow: rgb(0, 0, 0) 0px 2px 10px;
    cursor: pointer;
}

button[vanb="true"]:active:hover {
    opacity: .6;
    box-shadow: none;
}

input[vanb="true"][type="checkbox"][variant="on-off"]:hover {
    cursor: pointer;
}

/* TODO: responsiveness for different viewports */