/**
* ? Variables
*/
:root {
    --primary-color: rgb(15, 15, 15);
    --small-font: 16pt;
    --medium-font: 22pt;
    --large-font: 20pt;
    --basic-pad: 1rem;
    --small-pad: .5rem;
    --primary-font-color: rgb(241, 241, 241);
    --default-link-color: rgb(107, 159, 255);
}

/**
* ? Resetting and styling some elements
*/
* {
    margin: 0;
    padding: 0;
    z-index: 1;
}

body {
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    font-family: "Quicksand", sans-serif;
    letter-spacing: .6px;
    font-weight: normal;
    scroll-behavior: smooth;
}

a {
    transition: .2s ease;
    text-decoration: none;
    color: var(--default-link-color);
}

ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

footer {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    padding: 2rem;
    margin: 2rem 0 0 0;
    background-color: rgb(22, 22, 22);
    flex-wrap: wrap;
}

svg {
    z-index: -1;
    height: 100%;
}

button:disabled {
    opacity: .3;
}

button:disabled:hover {
    opacity: .3;
    cursor: not-allowed;
}

.nav_links {
    font-size: .875rem;
    padding: .7rem;
}

.vanbUI_icon {
    width: 64px;
}

#footer_logo {
    width: 150px;
}

.quick_link:hover {
    opacity: 1;
}

.fas {
    font-size: 9pt;
}

.quick_link {
    color: var(--primary-font-color);
}

/**
* ? Elements
*/
#page_wrapper {
    position: relative;
    height: 100dvh;
    overflow-y: scroll;
    overflow-x: hidden;
}

#navigation {
    height: 10dvh;
    width: 100dvw;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: space-between;
    padding: var(--small-pad);
    transition: .2s ease;
    font-size: var(--medium-font);
    z-index: 5;
}

.nav {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.295);
    backdrop-filter: blur(18px);
    transition: .2s ease;
    border-bottom: 1px solid rgb(32 32 32);
}

#open_menu {
    display: none;
}

#navigation ul {
    margin: 0 .3rem;
    padding: 0 5rem;
}

#navigation ul li {
    display: flex;
    justify-content: center;
    align-items: center;
}

#navigation ul li a {
    color: rgb(214, 214, 214);
}

#wrapper {
    margin-top: 13dvh;
}

.section {
    width: auto;
    padding: .5rem;
}

.section h4,
.section p {
    padding: .5rem;
}

#wrapper {
    display: flex;
    height: 90dvh;
}

code {
    background-color: rgb(29, 29, 29);
    border-radius: .3rem;
    padding: .3rem;
}

#sidebar {
    max-width: 30dvw;
    max-height: 70dvh;
}

#sidebar ul {
    display: grid;
    padding: 1rem;
    margin: 1rem;
}

#sidebar ul li {
    padding: .3rem;
}

#sidebar ul li .inactive {
    color: rgb(187, 187, 187);
}

#sidebar ul li .inactive:hover,
.active {
    color: rgb(248, 248, 248);
}

#docs_wrapper {
    margin: 1rem;
    padding: 1rem;
    width: 100%;
    line-height: 1.5rem;
    height: 60dvh;
}

#pages_and_but {
    width: 65dvw;
    height: 90dvh;
    overflow-y: auto;
    overflow-x: hidden;
}

.page {
    width: 60dvw;
    height: 65dvh;
    position: absolute;
    overflow-y: auto;
    background-color: var(--primary-color);
    z-index: -1;
    padding-right: .3rem;
}

#page_1 {
    z-index: 0;
}

#pagination_buttons {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
    background-color: #0f0f0f;
    padding: 1rem;
    margin-top: 2rem;
}

#cdn_inp_but {
    padding: .2rem;
}

.code_holder {
    width: fit-content;
    width: 100%;
}

#cdn_inp {
    text-align: left;
    width: 100%;
}

.codes{
    text-align: left;
}

.codes code{
    padding: 0;
    line-height: 1.2;
}

.note,
.danger,
.info {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: var(--basic-pad);
    margin: var(--small-pad);
    background-color: #ffa5005e;
    border-radius: .3rem;
    border-left: 4px solid #ffff007d;
}

.note p,
.danger p,
.info p {
    padding: 0 auto;
}

.note .fa-triangle-exclamation,
.danger .fa-triangle-exclamation,
.info .fa-triangle-exclamation {
    font-size: 24pt;
    margin: .3rem;
    padding: .3rem;
}

.danger {
    background-color: #ff71715e;
    border-left: 4px solid #ff00007d;
}

.info {
    background-color: #8b71ff5e;
    border-left: 4px solid #0011ff7d;
}

.danger::before, .info::before, .note::before{
    content: "\f071";
    font: var(--fa-font-solid);
    font-size: 32pt;
    margin: .5rem;
    padding: .5rem;
}

.danger::before{
    content: "\f071";
}

.info::before{
    content: "\f05a";
}

.note::before{
    content: "\f02d";
}

#variants div{
    margin: .5rem;
}

table,
th,
td {
    padding: .3rem;
    margin: .3rem;
    text-align: center;
}

table {
    border: 2px solid rgba(230, 230, 230, 0.588);
    border-radius: .3rem;
}

th {
    border-bottom: 2px solid rgba(230, 230, 230, 0.588);
}

tr {
    border-top: 2px solid rgba(230, 230, 230, 0.588);
}

.first,
.middle {
    border-right: 2px solid rgba(230, 230, 230, 0.588);
}

#github_changelogs {
    margin: 1rem;
    padding: 1rem;
}

/**
* ? Element FX
*/
::-webkit-scrollbar {
    width: .2rem;
}

::-webkit-scrollbar-thumb {
    border-radius: 45px;
    width: .2rem;
    background-color: rgb(223, 223, 223);
}

#page_wrapper::-webkit-scrollbar {
    display: none;
}

#navigation ul li a:hover {
    color: rgb(255, 255, 255);
}

.footer_links,
.footer_links ul {
    display: grid;
}

.footer_links {
    padding: .3rem .5rem;
}

.footer_links ul li {
    padding: .3rem;
}

.footer_links h3 {
    padding: .5rem .3rem;
    color: rgb(99, 99, 99);
}

.footer_links a {
    color: rgb(199, 199, 199);
}

.footer_links a:hover {
    color: white;
}

/**
* ? Responsive
*/

@media screen and (max-width: 680px) {
    #logo {
        display: none;
    }

    #open_menu {
        z-index: 10;
    }

    #navigation {
        align-items: flex-start;
        margin-top: 0;
        z-index: 6;
    }

    #navigation ul {
        display: grid;
        height: 95dvh;
        border-top-left-radius: 45px;
        border-bottom-left-radius: 45px;
        width: 70dvw;
        margin-right: -70dvw;
        background-color: rgb(22, 22, 22);
        justify-content: center;
        align-content: center;
        z-index: -1;
        padding: 0;
    }

    #open_menu {
        display: block;
        font-size: 1rem;
    }

    footer img {
        width: 100%;
    }
}